.item {
	padding:50px;
	font-text:20px;
	text-algin:center;
}

.item:hover {
	background-color: rgba(100, 100, 100, 0.3);
}

.item img {
	display: inline;
	height: 100px;
}

.item .name {
	display: inline;
}

.item .buttons {
	display: inline;
	float: right;
	padding-top: 5px;
}

.item .buttons span {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 5px 15px;
}

.item .buttons span:hover {
	background-color: #eee;
	cursor: pointer;
}
.img{
	height:50px;
	width:50px;
	
}
