<?xml version="1.0" encoding="UTF-8"?>

<!-- Default logback configuration provided for import, equivalent to the 
	programmatic initialization performed by Boot -->

<configuration>
	<!-- 设置日志文件的名称和路径，避免一个服务器里面有多个Spring Boot应用，把日志文件覆盖的问题 -->
	<property name="LOG_FILE"
		value="/tmp/zjx/spring-weixin.log" />
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.apache.tomcat" level="error" />
	<logger name="org.springframework" level="error" />
	<logger name="org.hibernate.SQL" level="trace" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"
		level="trace" />

	<!-- 根据getLogger方法传入的名称模糊匹配，支持前精确匹配 -->
	<!-- org.fkjava能够匹配到相同包里面的全部类的日志记录器 -->
	<!-- trace是最详细的日志跟踪级别，可以输出完整的日志信息 -->
	<!-- trace > debug > info > warn > error > off -->
	<logger name="org.fkjava" level="trace" />

	<root level="error">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
